<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>Live Dinner Restaurant - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->

	<link rel="stylesheet" href="bookform.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Site CSS -->


	</header>
	<!-- End header -->

	<!-- Start All Pages -->

		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">

					<br>
					<br>
					<br>

					<h2 style="color: rgb(87, 87, 26); font-weight: bolder; font-family: Arial, Helvetica, sans-serif;" >Thanks for visiting Flavoursome website <h2> <br>
					<h2>Your booking has been made please check your email for any modifications.</h2>
				<br>
			<a href="index.html" class="return"  style="border-radius: 20px;color: rgb(0, 0, 0); border: 2px;"> Back </i></a>
				</div>
			</div>
		</div>
	</div>

<!--	{% extends 'flask_user/emails/base_message.html' %}-->

<!--{% block message %}-->
<!--<p>You will need to confirm your email to start using {{ app_name }}.</p>-->

<!--<p>If you initiated this confirmation, please click on the link below:<br/>-->
<!--&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">Confirm your email</a>.</p>-->

<!--<p>If you did not initiate this confirmation, you may safely ignore this email.</p>-->

<!--{% endblock %}-->
</body>
</html>